<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<settings>-->
        <!--&lt;!&ndash;设置mybatis输出日志&ndash;&gt;-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <!--</settings>-->

    <!--设置别名-->
    <typeAliases>
        <!--实体类包名-->
        <package name="com.quan.settings.domain"/>
        <package name="com.quan.workbench.domain"/>
    </typeAliases>


    <mappers>
        <!--mapper文件所在包名-->
        <package name="com.quan.settings.dao"/>
        <package name="com.quan.workbench.dao"/>
    </mappers>
</configuration>